<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.upgrade.mapper.BoardMapper">

    <select id="getBoardList" resultType="com.example.upgrade.entity.Board" parameterType="com.example.upgrade.dto.Pagination">
        SELECT *
        FROM board
        WHERE title LIKE CONCAT('%',#{title},'%')
        ORDER BY boardId DESC
        LIMIT #{rowCount}
        OFFSET #{offset};
    </select>

    <select id="getBoard" resultType="com.example.upgrade.entity.Board" parameterType="int">
        SELECT *
        FROM board
        WHERE boardId = #{boardId};
    </select>

    <select id="getFileList" resultType="com.example.upgrade.entity.UploadFile" parameterType="int">
        SELECT *
        FROM file
        WHERE boardId = #{boardId};
    </select>

    <select id="getFile" resultType="com.example.upgrade.entity.UploadFile" parameterType="int">
        SELECT *
        FROM file
        WHERE fileId = #{fileId}
    </select>

    <select id="countBoard" resultType="int">
        SELECT count(boardId) AS cnt
        FROM board;
    </select>

    <select id="titleCount" resultType="int" parameterType="com.example.upgrade.dto.Pagination">
        SELECT count(boardId) AS cnt
        FROM board
        WHERE title LIKE CONCAT('%',#{title},'%')
    </select>

    <update id="plusVisitCount" parameterType="int">
        UPDATE board
        SET visitCount = visitCount + 1
        WHERE boardId = #{boardId};
    </update>

    <insert id="create" parameterType="com.example.upgrade.entity.Board" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board(title, content, name, visitCount, memberId, regdate) VALUES (#{title}, #{content}, #{name}, #{visitCount}, #{memberId}, NOW());
    </insert>

    <insert id="fileUpload" parameterType="com.example.upgrade.entity.UploadFile">
        INSERT INTO file(uploadFileName, storeFileName, boardId) VALUES (#{uploadFileName}, #{storeFileName}, #{boardId});
    </insert>

    <update id="update" parameterType="com.example.upgrade.entity.Board">
        UPDATE board
        SET title = #{title},
            content = #{content}
        WHERE boardId = #{boardId};
    </update>


    <delete id="delete" parameterType="int">
        DELETE FROM board
        WHERE boardId = #{boardId};
    </delete>

    <delete id="deleteFileByBoardId" parameterType="int">
        DELETE FROM file
        WHERE boardId = #{boardId};
    </delete>

    <delete id="deleteAll">
        DELETE FROM board;
    </delete>

    <update id="fileDelete" parameterType="int">
        DELETE FROM file
        WHERE fileId = #{fileId};
    </update>
</mapper>